<mat-toolbar color="primary">
  <img class="logo" src="assets/icons/icon-mid.png" alt="logo" />
  <a mat-button class="title" routerLink="/home">
    <span>NoraClock</span>
  </a>
  <span class="spacer"></span>

  <button mat-flat-button color="accent" routerLink="/memories" *ngIf="auth.isLoggedIn()">
    Memories
  </button>
  <button
    class="ml-5"
    mat-icon-button
    color="accent"
    *ngIf="auth.isLoggedIn()"
    (click)="auth.logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
