.mt-10 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr:hover {
  background: #b4b4b433;
  cursor: pointer;
}
