<p class="fader" [@fadeInOut]>{{ phrase }}</p>

<div fxFlex fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px grid">
  <div fxFlex="250px" fxFlex.xs="100px">
    <mat-card>
      <mat-card-title class="title"> Years </mat-card-title>
      <mat-card-content class="time">
        {{ year }}
      </mat-card-content></mat-card
    >
  </div>
  <div fxFlex="250px" fxFlex.xs="100px">
    <mat-card>
      <mat-card-title class="title"> Months </mat-card-title>
      <mat-card-content class="time">
        {{ month }}
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="250px" fxFlex.xs="100px">
    <mat-card>
      <mat-card-title class="title"> Days </mat-card-title>
      <mat-card-content class="time">
        {{ day }}
      </mat-card-content></mat-card
    >
  </div>
  <div fxFlex="250px" fxFlex.xs="100px">
    <mat-card>
      <mat-card-title class="title"> Hours </mat-card-title>
      <mat-card-content class="time">
        {{ hour }}
      </mat-card-content></mat-card
    >
  </div>
  <div fxFlex="250px" fxFlex.xs="100px">
    <mat-card>
      <mat-card-title class="title"> Minutes </mat-card-title>
      <mat-card-content class="time">
        {{ minute }}
      </mat-card-content></mat-card
    >
  </div>
  <div fxFlex="250px" fxFlex.xs="100px">
    <mat-card>
      <mat-card-title class="title"> Seconds </mat-card-title>
      <mat-card-content class="time">
        {{ second }}
      </mat-card-content></mat-card
    >
  </div>
</div>
