:host {
  height: calc(100vh - 64px);
  overflow: hidden;
  background-image: url('../../../assets/mountains.jpg');
}

.fader {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 15vh;
  font-size: calc(2vw + 15px);
  font-weight: lighter;
  color: gray;
}

@media only screen and (max-width: 599px) {
  :host {
    height: calc(100vh - 56px);
  }

  .fader {
    font-weight: normal;
  }
}

@media only screen and (max-height: 700px) {
  .fader {
    margin-top: 10vh;
  }
}

mat-card-content {
  position: absolute;
  top: 50%;
  left: calc(50% - 12px);
}

.title {
  font-weight: lighter;
  margin-bottom: 30px;
  font-size: medium;
}

.time {
  text-align: center;
  font-weight: lighter;
  font-size: 1.5rem;
}
