:host {
  height: calc(100vh - 64px);
  overflow: hidden;
}

.fader {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 20vh;
  font-size: calc(2vw + 10px);
  font-weight: lighter;
}

@media only screen and (max-width: 599px) {
  :host {
    height: calc(100vh - 56px);
  }
}

@media only screen and (max-height: 700px) {
  .fader {
    margin-top: 10vh;
  }
}

.title {
  font-weight: lighter;
  margin-bottom: 30px;
  font-size: medium;
}

.time {
  text-align: center;
  font-weight: lighter;
  font-size: 2rem;
}
