<mat-card class="p-30 mat-elevation-z3">
  <mat-card-title class="light mb-30"> Login </mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field class="w-100">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" autocomplete="off" />
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-hint>Your name is your password.</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button type="button" color="primary">OK</button>
  </mat-card-actions>
</mat-card>
